$container-max-width: 1170px;

.request-container {

  .section-container {
    max-width: $container-max-width;
    margin-left: auto;
    margin-right: auto;
  }

  .request-header {
    max-width: $container-max-width;
    margin: 1em auto;
  }

  .request-section {
    max-width: $container-max-width;
    background-color: #ffffff;
    padding: .75rem 1.5rem;
    border-radius: .3em;
    box-shadow: 0 2px 4px rgba(116, 116, 116, .20);
    color: $text-primary;

    &.head {
      padding: 1.5rem 1.5rem;

    }

    h2.title {
      font-weight: 600;
      margin-bottom: .85em;
    }
  }

  .request-details {
    display: flex;
    justify-content: space-between;

    .content-left {
      display: flex;
      flex-direction: column;
      flex: 0.7;
      padding-right: 10%;
    }

    .content-right {
      display: flex;
      justify-content: flex-end;
      flex: 0.3;
    }
  }

  .request-matching {
    max-width: $container-max-width;
    margin: 2rem auto;
  }

  .service-info {
    display: flex;
    height: 155px;
    justify-content: space-between;
    align-items: center;

    .content-left {
      .service-image {
        padding-left: .5em;
        height: 100%;

        img {
          border-radius: .3em;
          height: calc(155px - 2em);
          width: 235px;
        }
      }

      .service-content {
        padding: 0 1.5em;
        flex: 1;
        display: flex;
        flex-direction: column;

        .item-title .rating {
          font-size: 1.1em;
        }

        .price {
          font-size: 1.1em;
          font-weight: 500;
        }
      }
    }

    .content-right {
      display: flex;
      align-items: center;
      height: fit-content;
      max-width: 450px;

      .profile-picture {
        background-color: #ebebeb;
        height: 100px;
        width: auto;
        padding: 5px;
        border-radius: 50%;
        margin-right: 10px;

        img {
          height: 100%;
          width: auto;
        }
      }
    }

    .item-title {
      font-size: 1.1em;

      a {
        color: #107aca;
        font-weight: 500;
      }

      .rating {
        display: flex;
        align-items: center;
        padding-left: 0.5em;

        .review-star {
          height: 1.1em;
        }

        label {
          color: #ffdb0a;
          padding: 0 0.2em;
          font-weight: 600;
        }
      }
    }
  }

  .progress-step li {
    font-size: 1.3rem;
  }

  &.no-results {
    color: #767676;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-weight: 500;
      text-align: center;
    }

    p {
      padding: 1em 0;
    }
  }

}