.search-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 0;

  &.no-results {
    color: #767676;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-weight: 500;
      text-align: center;
    }

    p {
      padding: 1em 0;
    }
  }


  .search-filters {
    width: 100%;
    padding: 1.5em;
    background-color: white;
    border-radius: .3em;
    box-shadow: 0 1px 4px rgba(40, 120, 120, .20);
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;

    .filter-list {
      display: flex;
      align-items: center;

      .filter-item {
        margin-right: 1em;

        .dropdown-item {
          .dropdown-title {
            font-size: 0.8rem;
            height: 25px;
            line-height: 25px;
            border-color: #a3a3a3;
          }

          .dropdown-content {
            padding: .5em 0;

            .dropdown-header, .checkbox-list, .filter-action {
              padding: .5em 1.5em
            }

            .filter-action {
              display: flex;
              justify-content: center;
            }

            label.form-check {
              cursor: pointer;
            }
          }
        }
      }
    }

  }

  .search-results-head {
    display: flex;
    justify-content: space-between;

    .search-results-count {
      padding: 1em 0;

      span {
        font-weight: 300;
        color: $text-primary-light;
      }
    }

    .search-results-sort {
      padding: 1em 0;
    }
  }

  .search-results {
    width: 100%;
    color: $text-primary;

    .search-item {
      display: flex;
      padding: 1em 0;
      height: 155px;

      .content-left {
        flex: .27;
        padding: 0 1.5em;
        border-right: 1px solid $border-primary;

        .profile-picture {
          background-color: #ebebeb;
          height: 45px;
          width: 45px;
          padding: 5px;
          border-radius: 50%;
          margin-right: 10px;

          img {
            height: 100%;
            width: auto;
          }
        }

        .item-description {
          padding: .3em 0 1em 55px;
        }
      }

      .content-right {
        flex: .73;

        .service-image {
          padding-left: .5em;
          height: 100%;

          img {
            border-radius: .3em;
            height: calc(155px - 2em);
            width: 235px;
          }
        }

        .service-content {
          padding: 0 1.5em;
          flex: 1;
          display: flex;
          flex-direction: column;
          //justify-content: space-between;

          .item-title .rating {
            font-size: 1.1em;
          }

          .count-reviews {
            white-space: nowrap;
            font-size: 0.75em;
          }
        }
      }

      .item-title {
        font-size: 1.1em;

        a {
          color: #107aca;
          font-weight: 500;
        }

        .rating {
          display: flex;
          align-items: center;
          padding-left: 0.5em;

          .review-star {
            height: 1.1em;
          }

          label {
            color: #ffdb0a;
            padding: 0 0.2em;
            font-weight: 600;
          }
        }
      }

      .item-price {
        padding-bottom: 0.5em;

        .price {
          font-size: 1.1em;
          font-weight: 500;
          //color: #3fced2;
        }
      }

      .item-description {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        p {
          padding: .5em 0;
          max-height: 3em;
        }
      }

      .item-action {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }

  }

  .search-navigation {
    padding: 1em 0;
  }
}