<section id="request" class="service-section request">
    <div class="content">
        <a href="{{ path('request_new_by_service', {'slug': service.slug}) }}" class="btn-success w-full p-0">Choisir</a>
    </div>
</section>