<section id="request" class="service-section request">
    <div class="content">
        <a href="{{ path('payment', {'slug': service.slug}) }}" class="btn-success w-full p-0">Choisir</a>
    </div>
</section>