<section id="description" class="service-section description">
    <h2 class="title">A propos de cette prestation</h2>
    <div class="content">
        <p class="pb-0.5">
            {{ service.description | raw }}
        </p>
    </div>
</section>