<h1>Hello nouveau client ! Veuillez confirmer votre email !</h1>

<p>
    Confirmez votre mail en cliquant sur ce lien : <br><br>
    <a href="{{ signedUrl }}">Confirmer !</a>.
    Le lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement l'équipe Dinofix.
</p>
