{% extends 'customer/customer.html.twig' %}

{% block title %}Paiement - {{service.name}}{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <form action="{{ path('customer_checkout', {'slug': service.slug}) }}" method="POST">
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{ stripe }}"
                data-amount="{{ service.price * 100 }}"
                data-name="Paiement du service"
                data-description="Avec Stripe"
                data-zip-code="true"
                data-locale="auto">
            </script>
        </form>
    </div>
</div>
{% endblock %}
