{% extends 'customer/customer.html.twig' %}

{% block title %} Modification - {{request.slug}}  {% endblock %}

{% block body %}
    <h1>Edit Request</h1>

    {{ include('customer/request/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('customer_open_requests') }}">back to list</a>

    {{ include('customer/request/_delete_form.html.twig') }}
{% endblock %}
