{% extends 'customer/customer.html.twig' %}

{% block title %} Modification - {{ request.slug }}  {% endblock %}

{% block body %}
    <div class="self-center">
        <h1 style="margin-top: 10px;">Edit Request</h1>
    </div>

    {{ include('customer/request/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="self-center">
        <a href="{{ path('customer_open_requests') }}">back to list</a>
    </div>

    <div class="self-center" style="margin-bottom: 10px;">
        {{ include('customer/request/_delete_form.html.twig') }}
    </div>
{% endblock %}
