{% extends 'customer/customer.html.twig' %}

{% block title %}Créer une nouvelle demande{% endblock %}

{% block body %}
    <div class="container">
        {{ include('customer/request/_form.html.twig') }}
        <a href="{{ path('customer_open_requests') }}" class="btn btn-primary">Retour à la liste des demandes en cours</a>
    </div>
{% endblock %}
