<header id="customer-header" class="app-header customer-header">
    <div class="header-main">
        <div class="logo-container"><a href="{{ path('customer_search') }}">Dinofix</a></div>
        <nav class="main-header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-item dropdown-item" data-event="dropdownItemOnClick">
                    <a class="dropdown-title" href="#">Français</a>
                    <ul class="dropdown-content">
                        <li>
                            <a href="#">Français</a>
                        </li>
                        <li>
                            <a href="#">Anglais</a>
                        </li>
                    </ul>
                </li>
                <li class="header-nav-item">
                    <a href="#">Se connecter</a>
                </li>
                <li class="header-nav-item">
                    <a href="#">S'inscrire</a>
                </li>
                <li class="header-nav-item dropdown-item" data-event="dropdownItemOnClick">
                    <a class="dropdown-title" href="#">Mon compte</a>
                    <ul class="dropdown-content">
                        <li>
                            <a href="#">Profil</a>
                        </li>
                        <li>
                            <a href="#">Deconnexion</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <nav class="header-nav">
        <ul class="header-nav-list">
            <li class="header-nav-item">
                <a href="{{ path('user_list') }}">Liste des Utilisateurs</a>
            </li>
            <li class="header-nav-item">
                <a href="{{ path('addCategory') }}">Créer Catégorie</a>
            </li>
            <li class="header-nav-item">
                <a href="{{ path('addDino') }}">Créer Dino</a>
            </li>
            <li class="header-nav-item">
                <a href="#">Liste des services en cours </a>
            </li>
        </ul>
    </nav>
</header>