<header id="customer-header" class="app-header customer-header">
    <div class="header-main">
        <div class="logo-container"><a href="{{ path('customer_search') }}">Dinofix</a></div>
        <div class="searchbar-container">
            <form action="{{ path('customer_search') }}" method="GET">
                <div class="searchbar-wrapper">
                    <img class="searchbar-icon" src="{{ asset('images/search.svg') }}" alt="">
                    <input class="searchbar" type="text" id="searchbar" name="query" value="{{ previousQuery ?? null }}">
                </div>
            </form>
        </div>
        <nav class="main-header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-item dropdown-item" data-event="dropdownItemOnClick">
                    <a class="dropdown-title" href="#">Français</a>
                    <ul class="dropdown-content">
                        <li>
                            <a href="#">Français</a>
                        </li>
                        <li>
                            <a href="#">Anglais</a>
                        </li>
                    </ul>
                </li>
                <li class="header-nav-item">
                    <a href="#">Se connecter</a>
                </li>
                <li class="header-nav-item">
                    <a href="#">S'inscrire</a>
                </li>
                <li class="header-nav-item dropdown-item" data-event="dropdownItemOnClick">
                    <a class="dropdown-title" href="#">Mon compte</a>
                    <ul class="dropdown-content">
                        <li>
                            <a href="#">Profil</a>
                        </li>
                        <li>
                            <a href="#">Historique</a>
                        </li>
                        <li>
                            <a href="#">Mes demandes</a>
                        </li>
                        <li>
                            <a href="#">Historique</a>
                        </li>
                        <li>
                            <a href="#">Deconnexion</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <nav class="header-nav">
        <ul class="header-nav-list">
            <li class="header-nav-item">
                <a href="#">Moteur défaillant</a>
            </li>
            <li class="header-nav-item">
                <a href="#">Ailes déformés</a>
            </li>
            <li class="header-nav-item">
                <a href="#">Epaules trop large</a>
            </li>
            <li class="header-nav-item">
                <a href="#">Manque d'hydratation</a>
            </li>
            <li class="header-nav-item">
                <a href="#">Trouble de la communication</a>
            </li>
            <li class="header-nav-item">
                <a href="#">Manque d'hygiène</a>
            </li>
            <li class="header-nav-item">
                <a href="#">Crises d'anxiété</a>
            </li>
        </ul>
    </nav>
</header>