.form-control-wrapper {
  position: relative;

  input {
    width: 100%;
    font-size: 1em;
  }

  .icon-left,
  .icon-right {
    position: absolute;
    height: 1.15em;
    width: 1.15em;
    top: 50%;
    transform: translateY(-50%);
    color: $text-primary;
  }

  .icon-left {
    left: 10px;

    & ~ input {
      padding-left: calc(1em + 20px);
    }
  }

  .icon-right {
    right: 10px;

    & ~ input {
      padding-right: calc(1em + 20px);
    }
  }
}

select.form-control {
  border-radius: 0.3em;
  border: 1px solid #a3a3a3;
  padding: 0 0.5em;
  height: 25px;
  color: $text-primary;
}

textarea.form-control {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  padding: 5px 5px;
  border: 1px solid #a3a3a3;
  border-radius: 0.3em;

  &.no-resize {
    resize: none;
  }
}

.autocomplete-wrapper {
  .autocomplete-dropdown {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    top: 50 + 1px;
    border-radius: 0.2em;

    &.active {
      display: block;
      border: 1px solid #a3a3a3;
    }

    .autocomplete-item {
      padding: 0.9em;
      color: black;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 0.75em;

      &:hover {
        background-color: lightgray;
        cursor: pointer;
      }

      &.current-location {
        &.disabled {
          background-color: lightgray;

          &:hover {
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

input.form-control {
  border: 1px solid #a3a3a3;
  outline: none;
  border-radius: 0.3em;
  height: 30px;
  padding: 0 5px;
  color: $text-primary;
}

input[type="checkbox"] {
  width: 1em;
}

.f-container {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  .form-wrap {
    height: 100%;
    max-width: 700px;
    margin-top: 50px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      margin-bottom: 50px;
    }
    .form-row {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 20px;
      margin-inline: 10px;

      .form-label {
      }

      .form-input {
        width: 100%;
        height: 30px;
        border-radius: 0.3em;
        border: 1px solid #a3a3a3;
        padding: 0 5px;
        max-width: 300px;
        color: $text-primary;
      }
      .form-select {
        margin-top: 10px;
        border-radius: 0.3em;
        border: 1px solid #a3a3a3;
        padding: 0 0.5em;
        height: 25px;
        color: $text-primary;
      }
    }
    .self-center {
      margin: 0;
      margin-bottom: 20px;
      button {
        justify-self: center;
        align-self: center;
      }
    }
  }
}
