
.list-column {
  display: flex;
  flex-wrap: wrap;

  & > .list-item {
    background-color: #fff;
    border: 1px solid $border-primary;
    border-radius: .3em;
    box-shadow: 0 2px 4px rgba(116, 116, 116, .20);
    margin: 0 1em .75em 0;
  }
}

.list-row {
  display: flex;
  flex-direction: column;

  & > .list-item {
    background-color: #fff;
    border-radius: .3em;
    box-shadow: 0 1px 4px rgba(40, 120, 120, .20);
    margin: .3em 0;
    //border: 1px solid $border-primary;
  }
}

