<footer class="footer">
    <div class="footer-bottom">
        <div class="copyright-wrapper">
            <span class="copyright">Copyright © 2022 Dinofix, tous droits réservés.</span>
        </div>
    </div>
</footer>