<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}DinoFix - Le meilleurs pour votre dino{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% set ld_popular_categories = get_popular_categories(10) %}
{% block header %} {% include 'common/layout/_header.html.twig' %} {% endblock %}
{% block body %}{% endblock %}
{% block footer %} {% include 'common/layout/_footer.html.twig' %} {% endblock %}
</body>
</html>
