{% extends 'fixer/fixer.html.twig' %}
{% from 'macros/utils.html.twig' import stars %}

{% block body %}
	<main class="main-container customer-container">
		<div class="home-container">
			<section class="top-content section-box">
				<h2>Vos services en cours</h2>
				<ul class="fixer-service-list">
					{% for ra in active_requests %}
						<li class="service-card">
							<h4 class="service-name">{{ ra.request.service.name }}</h4>
							<h4 class="service-name">{{ ra.getCreatedAt() | date("H:m:s d/m/Y") }}</h4>
							<h4 class="service-name">{{ ra.request.customer.getFirstName() }} {{ ra.request.customer.getLastName() }}</h4>
							<a class="btn btn-primary">Modifier</a>
						</li>
					{% endfor %}
				</ul>
			</section>
		</div>
	</main>
{% endblock %}
