{% extends 'fixer/fixer.html.twig' %}
{% from 'macros/utils.html.twig' import stars %}

{% block body %}
	<main class="main-container customer-container">
		<div class="home-container">
			<section class="top-content section-box">
			</section>
			<section class="top-content section-box">
				<h2>Vos services en cours</h2>
				<ul class="fixer-service-list">
				</ul>
			</section>
		</div>
	</main>
{% endblock %}
