{% extends 'fixer/fixer.html.twig' %}

{% block body %}
	<main class="main-container customer-container">
		<div class="home-container">
			<h1>Créer un nouveau service</h1>

			{{ include('fixer/service/_form.html.twig') }}

			<a href="{{ path('fixer_home') }}">Retour à votre page</a>
			{% if service.slug is not empty %}
				<a href="{{ path('fixer_service_step', {'slug': service.slug}) }}">Personaliser les étapes pour ce service</a>
			{% endif %}
		</div>
	</main>
{% endblock %}
