{% extends 'fixer/fixer.html.twig' %}
{% from 'macros/utils.html.twig' import stars %}

{% block body %}
	<main class="main-container customer-container">
		<div class="home-container">
			<section class="top-content section-box">
				<h2>Mes services</h2>
				<ul class="fixer-service-list">
					{% for service in fixer_services %}
						<li class="service-card border h-fit p-1.5 mb-0.5">
							<h4 class="service-name">{{ service.name }}</h4>
							<div class="rating-row">
								<span class="stars">{{ stars(service.rating) }}</span>
								<span class="review-total">({{ service.reviews }})</span>
							</div>
							<a href="{{ path('fixer_services_edit', {'slug': service.slug}) }}" class="btn btn-primary text-sm">Modifier</a>
						</li>
					{% endfor %}
				</ul>
			</section>
		</div>
	</main>
{% endblock %}
