<footer class="footer">
    <div class="footer-top">
        <div class="footer-grid">
            <div class="footer-col">
                <h4 class="link-list-head">Categories</h4>
                <ul class="link-list categories">
                    <li><a href="#">Réparation dinosaures volants</a></li>
                    <li><a href="#">Réparation dinosaures terrestre</a></li>
                    <li><a href="#">Problèmes pattes</a></li>
                    <li><a href="#">Problèmes ailes</a></li>
                    <li><a href="#">Bien être</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4 class="link-list-head">Recherches fréquentes</h4>
                <ul class="link-list trending">
                    <li><a href="#">Blessure pattes avant</a></li>
                    <li><a href="#">Ligaments croisés</a></li>
                    <li><a href="#">Massage dinosaure</a></li>
                    <li><a href="#">Petits soins dinosaure</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4 class="link-list-head">A propos</h4>
                <ul class="link-list about-us">
                    <li><a href="#">Notre vision</a></li>
                    <li><a href="#">Comment ça marche ?</a></li>
                    <li><a href="#">Nous contacter</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="copyright-wrapper">
            <span class="copyright">Copyright © 2022 Dinofix, tous droits réservés.</span>
        </div>
    </div>
</footer>