{% extends 'customer/customer.html.twig' %}

{% block title %}Notation de {{service.name}} {% endblock %}

{% block body %}
    <div class="container">
        <h1>Noter le service</h1>
        
        {{ include('customer/review/_form.html.twig') }}
    </div>
{% endblock %}
