{% extends 'base.html.twig' %}

{% block title %}Nouvel Avis{% endblock %}

{% block body %}
    <h1>Avis</h1>

    {{ include('customer/review/_form.html.twig') }}

    <a href="{{ path('customer_review_index') }}">retour</a>
{% endblock %}
